[submodule "CourseProject/RTD_AE"]
	path = CourseProject/full_flow/RTD_AE
	url = https://github.com/danchern97/RTD_AE
[submodule "Process-Mining/roslyn"]
	path = Process-Mining/roslyn
	url = https://github.com/dotnet/roslyn
