[submodule "CourseProject/RTD_AE"]
	path = CourseProject/full_flow/RTD_AE
	url = https://github.com/danchern97/RTD_AE
[submodule "Process-Mining/roslyn"]
	path = Process-Mining/roslyn
	url = https://github.com/dotnet/roslyn
[submodule "Ordered-Sets-In-Data-Analysis/project/v2/lazy_fca_learning"]
	path = Ordered-Sets-In-Data-Analysis/project/v2/lazy_fca_learning
	url = https://gitlab.com/Al_Toretto/lazy_fca_learning/
[submodule "Ordered-Sets-In-Data-Analysis/project/v1/lazy_fca_learning"]
	path = Ordered-Sets-In-Data-Analysis/project/v1/lazy_fca_learning
	url = https://gitlab.com/Al_Toretto/lazy_fca_learning/
[submodule "CourseProject-Mag-1/ZigZagLLMs"]
	path = CourseProject-Mag-1/ZigZagLLMs
	url = https://github.com/RitAreaSciencePark/ZigZagLLMs
