<!DOCTYPE html>
<html lang='ru'>
    <head>
        <title>Авторизация</title>
        <meta name="description" content="Авторизация">
        <style nonce="<%=res.cspNonce.style%>">
            body { display: flex; align-items: center; justify-content: center; }
            input { min-width: 20vw; }
        </style>
        <%- include("./general/head.ejs", locals) %>
    </head>
    <body>
        <main class="surface_rounded" tabindex="-1">
            <h1>Авторизация</h1>
            <form action="/oauth" method="post">
                <label for="login">
                    Логин
                    <input type="text" placeholder="Введите логин..." name="login" id="login" maxlength="100">
                </label>
                
                <label for="password">
                    Пароль
                    <input type="password" placeholder="Введите пароль..." name="password" id="password" maxlength="100">
                </label>

                <button>Авторизоваться</button>
                <input type="hidden" name="authentication" value="<%=req.authentication%>">
            </form>
        </main>
    </body>
</html>